<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <script src="/assignReviewer.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div>Assign Reviewer</div>

    <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Article Type</th>
            <th>Keywords</th>
            <th>Status</th>
            <th>Submission Date</th>
          </tr>
        </thead>
        <tbody>
          <% articles.forEach(function(article) { %>
            <tr>
              <td>
                <a href="#" class="article-title"
                   data-title="<%= article.title %>"
                   data-content="<%= article.content %>">
                  <%= article.title %>
                </a>
              </td>
              <td><%= article.article_type %></td>
              <td><%= article.keywords %></td>
              <td><%= article.article_status %></td>
              <td><%= article.submission_date.toLocaleDateString() %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>

      <a href="/admin/welcome-admin">
        <button type="button" class="go-home">Homepage</button>
      </a>

      <div id="article-modal">
        <div class="modal-content">
          <span class="modal-close" id="closeModal">&times;</span>
          <div class="modal-header" id="modalTitle"></div>
          <div id="modalContent"></div>
        </div>
      </div>

    <!-- <div id="Articles"></div>
    <div id="Reviewers">

        <div id="firstReviewer"></div>
        <div id="secondReviewer"></div>

    </div>

    <a href="/admin/assign-reviewer">
        <button type="button" class="go-home"> Assign </button>
    </a>


    <a href="/admin/welcome-admin">
        <button type="button" class="go-home">Homepage</button>
    </a> -->
    <% if (errorMessage || successMessage) { %>
        <div class="auth-message <%= errorMessage ? 'error-message' : 'success-message' %>"
            <p><%= errorMessage || successMessage %></p>
        </div>
    <% } %>
</body>
</html>
