<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/AssignReviewer.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/assign-reviewer.js" defer></script>
    <title>MeetFlow - Assign Reviewer</title>
</head>
<body>
  <nav>
    <div>
        <a href="/admin/create-submission">Create Submission</a>
        <a href="/admin/assign-reviewer">Assign Reviewer</a>
        <a href="/admin/all-articles">See All Articles</a>
        <a href="/admin/add-reviewer">Add Reviewer</a>
        <a href="/admin/remove-reviewer">Remove Reviewer</a>
        <a href="/">Logout</a>
    </div>

  </nav>

  <div class="content">
    <h2>Assign Reviewer</h2>

    <div id="reviewers">
      <p>Reviewers can get max 2 articles assigned to him or her.</p>
      <p>See list over the available reviewers in drop down menu </p>
    </div>

    <% if (articles && articles.length > 0) { %>

      <form action="/admin/assign-reviewer" method="POST">
        <table>
          <thead>
            <tr>
              <th>Articles</th>
              <th>Reviewer 1</th>
              <th>Reviewer 2</th>
            </tr>
          </thead>
          <tbody>
            <% articles.forEach((article, index) => { %>
                <tr>
                    <input type="hidden" name="articles[<%= index %>][id]" value="<%= article.article_id %>">
                    <input type="hidden" name="articles[<%= index %>][title]" value="<%= article.title %>">
                    <td>
                        <a href="#" class="article-title"
                          data-title="<%= article.title %>"
                          data-content="<%= article.content %>">
                          <%= article.title %>
                        </a>
                    </td>
                    <td>
                        <select name="reviewers[<%= index %>][reviewer1]">
                            <option value="">Select Reviewer</option>
                            <% reviewers.forEach(reviewer => { %>
                                <option value="<%= reviewer.user_id %>"><%= reviewer.name %> ( <%= reviewer.article_count %> )</option>
                            <% }); %>
                        </select>
                    </td>
                    <td>
                        <select name="reviewers[<%= index %>][reviewer2]">
                            <option value="">Select Reviewer</option>
                            <% reviewers.forEach(reviewer => { %>
                                <option value="<%= reviewer.user_id %>"><%= reviewer.name %> ( <%= reviewer.article_count %> )</option>
                            <% }); %>
                        </select>
                    </td>
                </tr>
            <% }); %>
            <% } else { %>
              <tr>
                  <td colspan="3"> There are currently no articles that can be assigned to any reviewer.<br></td>
              </tr>
              <% } %>
              </tbody>
              </table>
              <button type="submit">Save</button>
              </form>
    
      <a href="/admin/welcome-admin">
        <button type="button" class="go-home">Homepage</button>
      </a>

      <div id="article-modal">
        <div class="modal-content">
          <span class="modal-close" id="closeModal">&times;</span>
          <div class="modal-header" id="modalTitle"></div>
          <div id="modalContent"></div>
        </div>
      </div>

    <% if (errorMessage || successMessage) { %>
        <div class="auth-message <%= errorMessage ? 'error-message' : 'success-message' %>"
            <p><%= errorMessage || successMessage %></p>
        </div>
    <% } %>
      </div>
</body>
</html>
