<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/AssignReviewer.css">
    <script src="/assign-reviewer.js" defer></script>
    <title>Conference Management - Assign Reviewer</title>
</head>
<body>
    <div>Assign Reviewer</div>

    <form action="/admin/assign-reviewer" method="POST">
      <table>
        <thead>
          <tr>
            <th>Articles</th>
            <th>Reviewer 1</th>
            <th>Reviewer 2</th>
          </tr>
        </thead>
        <tbody>
          
          <% articles.forEach((article, index) => { %>
            <tr>
              <input type="hidden" name="articles[<%= index %>][id]" value="<%= article.article_id %>">
              <input type="hidden" name="articles[<%= index %>][title]" value="<%= article.title %>">
              <td><%= article.title %></td>
              <td>
                <select name="reviewers[<%= index %>][reviewer1]" required>
                  <option value="">Select Reviewer</option>
                  <% reviewers.forEach(reviewer => { %>
                    <option value="<%= reviewer.user_id %>"><%= reviewer.name %></option>
                  <% }); %>
                </select>
              </td>
              <td>
                <select name="reviewers[<%= index %>][reviewer2]" required>
                  <option value="">Select Reviewer</option>
                  <% reviewers.forEach(reviewer => { %>
                    <option value="<%= reviewer.user_id %>"><%= reviewer.name %></option>
                  <% }); %>
                </select>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <button type="submit">Save</button>
    </form>
    
      <a href="/admin/welcome-admin">
        <button type="button" class="go-home">Homepage</button>
      </a>

      <div id="article-modal">
        <div class="modal-content">
          <span class="modal-close" id="closeModal">&times;</span>
          <div class="modal-header" id="modalTitle"></div>
          <div id="modalContent"></div>
        </div>
      </div>

    <% if (errorMessage || successMessage) { %>
        <div class="auth-message <%= errorMessage ? 'error-message' : 'success-message' %>"
            <p><%= errorMessage || successMessage %></p>
        </div>
    <% } %>
</body>
</html>
